@import '../Styles.scss';

.Chatcontainer {
    @include themify($themes) {
        background-color: themed("bgSoft");
        color: themed("textColorSoft");
        display: flex;
        height: calc(100vh - 70px);

        .Messages {
            display: flex;
            flex: 2;
            flex-direction: column;
            gap: 20px;
            margin: 10px 0px;
            overflow: scroll;
            cursor: pointer;
            height: calc(100vh - 70px);
            color: themed("textColorSoft");

            &::-webkit-scrollbar {
                display: none;
            }

            .Message {
                display: flex;
                align-items: center;
                gap: 10px;
                border-bottom: 1px solid themed("border");
                padding: 5px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userinfo {

                    span {
                        font-weight: 500;
                    }

                    p {
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
            }
        }

        .chat {
            height: calc(100vh - 50px);
            flex: 5;
            border-left: 1px solid themed("border");
            overflow: scroll;
            display: flex;
            flex-direction: column;

            &::-webkit-scrollbar {
                display: none;
            }

            .top {
                padding: 17px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid themed("border");

                .user {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .texts {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        span {
                            font-weight: bold;
                            font-size: 18px;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }
                }
            }

            .center {
                flex: 1;
                padding: 10px;
                overflow: scroll;
                display: flex;
                flex-direction: column;
                gap: 20px;

                &::-webkit-scrollbar {
                    display: none;
                }

                .textMessage {
                    max-width: 70%;
                    display: flex;
                    gap: 20px;

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .text {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        gap: 5px;

                        img {
                            width: 80%;
                            height: 300px;
                            border-radius: 10px;
                            object-fit: contain;
                        }

                        p {
                            padding: 20px;
                            background-color: themed("bg");
                            border-radius: 10px;
                        }

                        span {
                            font-weight: 300;
                            font-size: 12px;
                        }
                    }

                    &.Own {
                        align-self: flex-end;
                        max-width: 70%;


                        .text {
                            p {
                                background-color: #5183fe;
                            }

                            span {
                                // background-color: #5183fe;
                            }
                        }
                    }
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                padding: 20px;
                justify-content: space-between;
                border-bottom: 1px solid themed("border");
                background-color: themed("bg");
                border-right: 1px solid themed("border");
                gap: 20px;
                border-radius: 10px;
                font-size: 16px;

                .icons {
                    cursor: pointer;
                }

                input {
                    flex: 1;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: themed("textColorSoft");

                }

                .emoji {
                    cursor: pointer;
                    position: relative;

                    .picker {
                        position: absolute;
                        left: -200px;
                        bottom: 50px;
                    }

                }

                .sendButton {
                    color: white;
                    background-color: #5183fe;
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                }
            }
        }

    }
}