.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    background-color: white;
    .left{
        display: flex;
        align-items: center;
        gap: 50px;
        span{
            font-weight: bold;
            font-size: 20px;
            color: darkblue;

        }

        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 5px;

            input{
                border: none;
                width: 350px;
            }
        }
    }

    .right{
        display: flex;
        align-items: center;
        gap: 50px;
        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            span{
                font-weight: 500;
            }
        }
    }
}