@import '../Styles.scss';

.Navbar {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 25px;
        height: 50px;
        border-bottom: 1px solid themed("border");
        position: sticky;
        top: 0;
        background-color: themed("bg");
        color: themed("textColor");

        .left {
            display: flex;
            align-items: center;
            gap: 50px;

            span {
                font-weight: bold;
                font-size: 20px;
                color: themed("logo");;

            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("border");
                border-radius: 5px;
                padding: 5px;
                @include mobile{
                    display: none;
                }

                input {
                    border: none;
                    width: 350px;
                    color: themed("textColor");
                    background-color: transparent;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 50px;

            @include mobile{
                display: none;
            }
            .icon{
                cursor: pointer;
            }

            .user {
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    font-weight: 500;
                }
            }
        }
    }
    .dropdown-list-below {
        position: absolute;
        top: 100%; /* Position the dropdown below the search bar */
        background-color: white; /* Set background color */
        border: 1px solid #ccc; /* Add border */
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
        padding: 8px 0; /* Add padding */
        width: 40%;
        z-index: 1; /* Ensure the dropdown is above other content */
      }
}