@import '../Styles.scss';


.Rightbar {
    @include themify($themes) {
        margin-top: 20px;
        position: sticky;
        top: 50px;
        height: calc(100vh - 50px);
        flex: 3;
        overflow: scroll;
        background-color: themed("bgSoft");
        &::-webkit-scrollbar {
            display: none;
        }


        .container {
            background-color: themed("bgSoft");

            padding: 0 10px;

            .item {
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
                padding: 20px;
                border-radius: 5px;
                margin-bottom: 20px;
                background-color: themed("bg");

                span {
                    color: grey;
                }

                .NoMsg{
                    color: themed("textColor");
                    padding: 20px;
                }

                .user {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 20px 0px;

                    .userinfo {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        position: relative;

                        img {
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .online {
                            height: 12px;
                            width: 12px;
                            background-color: limegreen;
                            border-radius: 50%;
                            position: absolute;
                            top: 0;
                            left: 30px;
                        }

                        p {
                            color: themed("textColorSoft");
                        }

                        span {
                            color: themed("textColor");
                            font-weight: 500;
                        }
                    }

                    .buttons {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        button {
                            border: none;
                            padding: 5px;
                            cursor: pointer;
                            color: white;

                            &:first-child {
                                background-color: blue;
                            }

                            &:last-child {
                                background-color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}