.Rightbar {
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    flex: 3;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
      }
  

    .container {
        padding: 20px;

        .item {
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;

            span {
                color: grey;
            }

            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0px;

                .userinfo {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    p{
                     color: gray;   
                    }

                    span {
                        color: black;
                        font-weight: 500;
                    }
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    button {
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        color: white;

                        &:first-child {
                            background-color: blue;
                        }

                        &:last-child {
                            background-color: red;
                        }
                    }
                }
            }
        }
    }
}